.background {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url("../../public/static/images/background_41.jpg");
    /* background-image: url("https://as1.ftcdn.net/v2/jpg/08/21/50/18/1000_F_821501843_mayw4oeGMt3C3Q3NqbT9VTbDIxw3vgAL.jpg"); */
    background-size: cover;
}

.background::after {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient( rgba(53, 53, 53, 0.5), rgba(0, 0, 0, 0.5) );
pointer-events: none;
}

.background img {
object-fit: cover;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.hover-click:hover,
.hover-click:hover p,
.hover-click:hover .icon {
background: #ccc9c9;
/* padding: 10px; */
cursor: pointer;
color: #000 !important;
}


/* Search in body */
.react-datepicker-wrapper {
    width: 40%;
}
  